<?xml version="1.0"?>
<robot name="wloam" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="PI" value="3.1415926535897931" />
    <link name="base_link"></link>
    <link name="lidar_link"></link>
    <link name="imu_link"></link>
    <link name="gps_link"></link>
    <link name="velodyne"></link>
    <link name="navsat_link"></link>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="lidar_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="0 0 0" rpy="0 ${PI} 0" />
    </joint>

    <joint name="gps_joint" type="fixed">
        <parent link="base_link" />
        <child link="gps_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />  
    </joint>

    <joint name="velodyne_joint" type="fixed">
        <parent link="lidar_link" />
        <child link="velodyne" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="navsat_joint" type="fixed">
        <parent link="gps_link" />
        <child link="navsat_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
</robot>